video {
    width: 350px;
    height: 250px;
    object-fit: cover;
    border: solid 2px white;
}

.video-wrapper {
    position: relative;
}

.name-lbl {
    position: absolute;
    bottom: 0;
    margin: .25rem .15rem;
    background-color: white;

}