<div class="header animate__animated animate__fadeIn">
    <div class="section"><span class="title">
        Zoom Clone
    </span></div>

    <div class="section">
        <ul class="menu-list">
            <li class="menu-btn">
                <i class="uil uil-home"></i>
            </li>
            <li class="menu-btn">
                <i class="uil uil-share"></i>
            </li>
            <li class="menu-btn">
                <i class="uil uil-github-alt"></i>
            </li>
        </ul>
    </div>

    <div class="section">
        <div class="avatar-wrapper">
            <img src="https://avatars.githubusercontent.com/u/69750276?s=400&u=779825a7cb371a7f0ec7ee6d781cc77ed4c7f9a5&v=4" alt="avatar">
        </div>
    </div>
</div>

<div class="body-wrapper">
    <div class="block animate__animated animate__fadeIn" (click)="goToRoom()">
        <div class="block-btn">
            <i class="uil uil-video"></i>
        </div>
        <div class="title-lbl">
            Nueva reunión
        </div>
    </div>
</div>